name: labeler

on:
  pull_request_target:

permissions: {}

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/labeler@v6
        with:
          sync-labels: true
